header {
    padding: 0 0 16px;
    margin-top: -10px;
    overflow: hidden;
    position: fixed;
    height: 70px;
}
.fix {
    width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.header_fields {
    padding: 21px 0;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.header_menu {
    position: relative;
    float: left;
    margin: 21px 0 0 30px;
}

header .logo {
        
        width: 112px;
        height: 64px;
        display: block;
        float: left;
}
.header_menu__item {
    display: inline-block;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    line-height: 1;
    margin-right: 25px;
    padding-bottom: 5px;
    
}
.header_menu__item:hover{
    color:white;
    background-color: grey;
}
.info {
    padding-top: 80px;
}
.image{
    height: 200px;
    width: 150px;
}
table {
    text-align: center;
    border: 1px solid grey;
    margin: 0px;

} 
/* границы ячеек первого ряда таблицы */

th {
    text-align: center;
    border: 1px solid grey;}
/* границы ячеек тела таблицы */
td {
    text-align: center;
    border: 1px solid grey;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(215, 19, 233);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.content{
    padding:100px;
}
.task2{
    padding-top: 100px;
}
.task2 > div {
    text-align: center;
    padding: 40px 0;
}
#headOfContent, #footerOfContent {
    width: 100%;
    clear: left;
    text-align: center;
    height: 50px;
    background-color: #a3a2a0;
    margin: 0;
}
.section{
    float: left;
    height: 700px;
}
.s1, .s3 {
    background-color: #e78769;
    width: 10%;
}
.s2 {
    background-color: rgb(184, 125, 125);
    width: 80%;
}